@model List<SoldProductsViewModel>


<table class="table ">
    <thead>
        <tr>
            <th>NAME</th>
            <th>Quantity</th>
            <th>DATE</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>

        @foreach (SoldProductsViewModel sales in Model)
        {
           
                @foreach (OrderMealsViewModel orderMeals in sales.OrderMealsViews)
                {
                    <tr>
                        <td class="txt-oflo">@orderMeals.Meal.Name</td>
                        <td>@orderMeals.Quantity</td>
                        <td class="txt-oflo">@orderMeals.CreatedAt</td>
                        <td><span class="text-success">@orderMeals.SubTotal</span></td>
                    </tr>
                }
           
                @foreach (OrderDrinksViewModel orderDrinks in sales.OrderDrinksViewModels)
                {
                    <tr>
                        <td class="txt-oflo">@orderDrinks.Drink.Name</td>
                        <td>@orderDrinks.Quantity</td>
                        <td class="txt-oflo">@orderDrinks.CreatedAt</td>
                        <td><span class="text-success">@orderDrinks.SubTotal</span></td>
                    </tr>
                }
            

        }

    </tbody>
</table>


