@*@model List<PaginateViewModel>*@
@model Yummies.Areas.Admin.Pages.PaginationData

<table class="table ">
    <thead>
        <tr>
            <th>NAME</th>
            <th>Quantity</th>
            <th>DATE</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
     
        @foreach (PaginateViewModel sales in Model.Products)
        {

            <tr>
                <td class="txt-oflo">@sales.Name</td>
                <td>@sales.Quantity</td>
                <td class="txt-oflo">@sales.CreatedAt</td>
                <td><span class="text-success">@sales.SubTotal</span></td>
            </tr>



        }

    </tbody>
</table>
<div>
    <ul class="pagination">

        @for (var i = 1; i <= Model.Count; i++)
        {
            <li class="page-item">
                <a href="#" id="pageNumber" class="page-link" data-id="@i">@i</a>
            </li>
        }
    </ul>
</div>

