@page
@model Yummies.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    int counter = 1;
    string orderId = "";
   
    var all = Model.Orders.Select(x => new { DrinksCount = x.OrderDrinks.Count(), MealsCount = x.OrderedMeals.Count() }).Sum((z)=>z.DrinksCount+z.MealsCount);
}
<h1>Ordered: @all</h1>
<style>
    .param {
        margin-bottom: 7px;
        line-height: 1.4;
    }

    .param-inline dt {
        display: inline-block;
    }

    .param dt {
        margin: 0;
        margin-right: 7px;
        font-weight: 600;
    }

    .param-inline dd {
        vertical-align: baseline;
        display: inline-block;
    }

    .param dd {
        margin: 0;
        vertical-align: baseline;
    }

    .shopping-cart-wrap .price {
        color: #007bff;
        font-size: 18px;
        font-weight: bold;
        margin-right: 5px;
        display: block;
    }

    var {
        font-style: normal;
    }

    .media img {
        margin-right: 1rem;
    }

    .img-sm {
        width: 90px;
        max-height: 75px;
        object-fit: cover;
    }
</style>

<div class="container">

    <hr>



    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
                <tr>

                    <th scope="col">#</th>
                    <th scope="col">Order</th>

                    <th scope="col" width="120">Discount</th>

                    <th scope="col" width="200" class="text-center">Action</th>
                    <th scope="col" width="200" class="text-right">Sub Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (IOrderViewModel order in Model.Orders)
                {
                    orderId = order.Id;

                    @foreach (IOrderMeal meal in order.OrderedMeals)
                    {
                        <tr id="order" data-id="@order.Id">
                            <td>@counter</td>
                            <td>
                                <figure class="media">
                                    <div class="img-wrap"><img src="~/images/@meal.Meal.Image" class="img-thumbnail img-sm"></div>
                                    <figcaption class="media-body">
                                        <h6 class="title text-truncate">@meal.Meal.Name </h6>
                                        <dl class="param param-inline small">
                                            <dt>Quantity: </dt>
                                            <dd>@meal.Quantity</dd>
                                        </dl>
                                        <dl class="param param-inline small">
                                            <dt>Price: </dt>
                                            <dd>USD @meal.Meal.Price</dd>
                                        </dl>
                                    </figcaption>
                                </figure>
                            </td>

                            <td>
                                <div class="price-wrap">
                                    <var class="price">@order.Customer.ShoppingCard.CardStatus</var>
                                    <small class="text-muted">(Discount)</small>
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td class="text-center">
                                <form asp-page="ShoppingCart" asp-page-handler="ShowEditOrder" method="post">
                                    <input type="text" name="mealId" value="@meal.MealId" hidden />
                                    <input type="text" name="orderId" value="@meal.OrderId" hidden />
                                    <input type="submit" class="btn btn-outline-success" name="submit" value="+ Edit" />
                                </form>

                                <a data-id="@meal.MealId" class="btn btn-outline-danger">x Remove</a>
                            </td>
                            <td style="float:right;">@meal.SubTotal</td>
                        </tr>
                        counter++;
                    }
                    @foreach (OrderDrinksViewModel drink in order.OrderDrinks)
                    {
                        <tr id="order" data-id="@order.Id">
                            <td>@counter</td>
                            <td>
                                <figure class="media">
                                    <div class="img-wrap"><img src="~/images/@drink.Drink.Image" class="img-thumbnail img-sm"></div>
                                    <figcaption class="media-body">
                                        <h6 class="title text-truncate">@drink.Drink.Name </h6>
                                        <dl class="param param-inline small">
                                            <dt>Quantity: </dt>
                                            <dd>@drink.Quantity</dd>
                                        </dl>
                                        <dl class="param param-inline small">
                                            <dt>Price: </dt>
                                            <dd>USD @drink.Drink.Price</dd>
                                        </dl>
                                    </figcaption>
                                </figure>
                            </td>

                            <td>
                                <div class="price-wrap">
                                    <var class="price">@order.Customer.ShoppingCard.CardStatus</var>
                                    <small class="text-muted">(Discount)</small>
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td class="text-center">
                                <form asp-page="ShoppingCart" asp-page-handler="ShowEditOrder" method="post">
                                    <input type="text" name="mealId" value="@drink.DrinkId" hidden />
                                    <input type="text" name="orderId" value="@drink.OrderId" hidden />
                                    <input type="submit" class="btn btn-outline-success" name="submit" value="+ Edit" />
                                </form>

                                <a data-id="@drink.DrinkId" class="btn btn-outline-danger">x Remove</a>
                            </td>
                            <td style="float:right;">@drink.SubTotal</td>
                        </tr>
                        counter++;
                    }

                }

            </tbody>

        </table>

    </div> <!-- card.// -->
    <div style="float:right;font-size:18px; "><span>Total:</span> @Model.Total.ToString("#.##")</div>

</div>
<!--container end.//--> 

<br>
<div class="row" style="float:right;margin-top:10px;">
    <a class="btn btn-default" asp-page="index" style="margin-right:10px;">Continue Shopping</a>
    <form asp-page="ShoppingCart" asp-page-handler="SubmitOrder" method="post">
        <input type="text" name="OrderId" value="@orderId" hidden />
        @if (Model.Orders == null)
        {
            <input class="btn btn-success" type="submit" value="Submit Order" disabled>
        }
        else
        {
            <input class="btn btn-success" type="submit" value="Submit Order">
        }
    </form>

</div>




@section Scripts{
    <script>
        //edit meal
        //$("input").submit(function (e) {
        //    e.preventDefault();
        //    alert(" ok");
        //});
        //function Edit(mealId, orderId) {
        //    $(document).ready(function () {
        //        $.ajax({

        //        });
        //        alert(mealId);
        //    });
        //}


        //remove meal
        $(document).ready(function () {
            $("tbody").on("click", "a", function (e) {
                e.preventDefault();
                var mealId = $(this).data("id");
                var orderId = $("#order").data("id");
                $.ajax({
                    method: "get",
                    url: "/ShoppingCart?handler=DeleteMealOrder",
                    data: { mealId: mealId, orderId: orderId },
                    success: function (data) {
                        if (data == 1) {

                            window.location.reload();
                        }
                    }
                });
            });

        });

    </script>
}